@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Welcome to LexiNet</h1>
    
</div>

<div class="row">
    <div class="col-md-4">

        <p> LexiNet is a prototype application, built to provide support to students and educators alike</p>
        <p> Use the resources page to upload or see reviewed resources!</p>
        <p> Head on over to review resources to leave reviews for resources :)</p>
        <p> If you're new here, head on to the new user page to create a username to start reviewing</p>


    </div>
    
    <div class="col-md-4">
        
    </div>
</div>